path.line {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

.domain {
    stroke-width: 1px;
}

circle {
    cursor: pointer;
}

.axis {
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    stroke-width: 1px;
    stroke: #000;
    fill: none;
}

.tooltip {
    display: none;
}

.tooltip.active {
    display: block;
}

.tooltip rect {
    fill: #ff0000;
}

.svg {
  overflow-y: scroll;
  height: 900px;
}

.svg_menu {
  height: 70px;
}


#menu {
        display: none;
        position: absolute;
        width: 60px;
        background-color: white;
        box-shadow: 0 0 5px grey;
        border-radius: 3px;
}


#edit-tab {
        display: none;
        position: absolute;
        width: 800px;
        background-color: gray;
        box-shadow: 0 0 5px grey;
	border:3px;
        border-radius: 3px;
	padding:1 rem;
}


label { color: #261926; font-weight: regular; display: block; width: 150px; float: left; } label:after { content: ": " }
input,textarea{ display: block; }
#editform {
        background-color: #8db0b5;
}


#menu button {
        width: 100%;
        background-color: white;
        border: none;
        margin: 0;
        padding: 10px;
}

#menu button:hover {
        background-color: lightgray;
}


#buttons {
  position: absolute;
  top: 100px;
  left: 10px;
}
#graphic {
  position: absolute;
  top: 90px;
  left: 10px;
}
.inner {
  padding: 10px;
  width: 100px;
  display: block;
  margin-right: 5px;
}


.ctx {
  padding: 10px;
  background-color: #4CAF50;
}
