<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Konva Demo </title>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


</style>

</head>
<body>

    <h3>Flask/KONVA Demo</h3>


    <div  class="svg_menu" id="buttons"> </div>
    <div class="svg" id="graphic"> </div>
    <div id="menu"> <div> <button id="Edit-button">Edit</button ><button id="delete-button">Delete</button> </div> </div>
     <div id="edit-tab"> <div> 
			 <form id="editform" action="/action_page.php" method="get">
                           <label for="ElementID">Element</label>
                           <input type="text" id="eid" name="eid">
                           <label for="Text">Text of Node</label>
                           <input type="text" id="cirtext" name="text">
                           <label for="Image">Image SRC</label>
                           <input type="text" id="image-src" name="image-src">
                           <input type="button" onclick="editForm()" value="Submit">
                         </form> 
     </div> </div>
    <script>
	        var savestate = {};
		// id : { x : xval, y: yval, adjacent : [is1,id2,id3], color:cl1, text:tx1}


	    	var offset = 0;
	    	var curItem = null;
	    	// click events
	        document.getElementById('delete-button').addEventListener('click', () => { currentShape.destroy(); }); 
	        document.getElementById('Edit-button').addEventListener('click', () => { 
			console.log("edit clicked", currentShape) ; 
			curItem = currentShape; 
			var gid = document.getElementById('eid');
			gid.value = curItem["_id"];
			b4c()}); 



		function editForm() {
			console.log("form submited");
			var fid = document.getElementById('cirtext');
			var fimg = document.getElementById('image-src');
			//curItem.fill(fid.value);
			savestate[curItem['_id']]['text'] = fid.value;
			console.log("text changed to ", curItem['_id'],fid.value);
		        var sT = new Konva.Text({ x: curItem.x()-20, y: curItem.y(), text: fid.value, fontSize: 11, fontFamily: 'Calibri', fill: 'black', });
			var p = savestate[curItem['_id']]['tblob']
			if (p != undefined) p.destroy();
			savestate[curItem['_id']]['tblob'] = sT;

			var imageObj = new Image();
		        imageObj.src = fimg.value; 
			c = curItem;
			savestate[curItem['_id']]['imageobj'].destroy();
		        var im = new Konva.Image({ x: c.x()-30, y: c.y()-20, image: imageObj, width: 20 , height: 20 })
			layer.add(im);
			savestate[c["_id"]]['imagelink'] = fimg.value;
			savestate[c["_id"]]['imageobj'] = im;

			layer.add(sT);
			b4c();
		}


	        var adm = {}; 

		var stageb = new Konva.Stage({
                  container: 'buttons',   // id of container <div>
                  width: 1000,
                  height: 70,
		visible:true,
                });

		var stage = new Konva.Stage({
                  container: 'graphic',   // id of container <div>
                  width: 1500,
                  height: 1500,
		visible:true,
		draggable:false
                });

		stage.container().style.backgroundColor = 'rgb(211,211,211)';
		stageb.container().style.backgroundColor = 'rgb(0,169,0)';
                
                // then create layer
		var layer = new Konva.Layer();
                var layerb = new Konva.Layer();
                var layer_edit = new Konva.Layer();
		var BLOBC = "blue";
                
                // create our shape
                var circle = new Konva.Circle({ x: stage.width() / 2, y: stage.height() / 2, radius: 70, fill: BLOBC, stroke: 'black', draggable:'true', strokeWidth: 4 });

		var operation = "null";;

		var button1 = new Konva.Rect({ x : 20, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b1 = new Konva.Text({ x: 30, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Connect', fill: 'black', });

		var button2 = new Konva.Rect({ x : 120, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b2 = new Konva.Text({ x: 130, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Delete', fill: 'black', });


		var button3 = new Konva.Rect({ x : 220, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b3 = new Konva.Text({ x: 230, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Node', fill: 'black', });

		var button4 = new Konva.Rect({ x : 320, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b4 = new Konva.Text({ x: 330, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Graph', fill: 'black', });

		var button5 = new Konva.Rect({ x : 420, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b5 = new Konva.Text({ x: 430, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Save', fill: 'black', });

		var button6 = new Konva.Rect({ x : 520, y : 10, width: 50, height: 30, fill: 'gray', stroke: 'black', strokeWidth:2 });
      		var text_b6 = new Konva.Text({ x: 530, y: 20, fontFamily: 'Calibri', fontSize: 10, text: 'Restore', fill: 'black', });

      		var text = new Konva.Text({ x: 600, y: 10, fontFamily: 'Calibri', fontSize: 16, text: '', fill: 'black', });
		var edit_state = 0;

		button1.on("click", b1c);
		text_b1.on("click", b1c);
		button2.on("click", b2c);
		text_b2.on("click", b2c);
		button3.on("click", b3c);
		text_b3.on("click", b3c);
		button4.on("click", b4c);
		text_b4.on("click", b4c);
		button5.on("click", b5c);
		text_b5.on("click", b5c);
		button6.on("click", b6c_v2);
		text_b6.on("click", b6c_v2);

		

		function b1c() { 
			operation="connect";
			writeMessage("Connect"); }
		function b2c() { 
			operation = "delete";
			writeMessage("Delete"); 
		}
		function b3c() { 
			operation = "add";
                	var c = new Konva.Circle({ x: (stage.width() / 8) + offset ,y: stage.height() / 8, radius: 30, fill: BLOBC, stroke: 'black', draggable:'true', strokeWidth: 4 });
			layer.add(c)
			c.on('dragstart', dstart);
			c.on('dragend', dend);
			c.on("click", myh);
			writeMessage("Add"); 
			var tmp = {}; tmp['x'] = c.x(); tmp['y'] = c.y(); tmp['text'] = "INIT"; tmp['nbr'] = [];
			savestate[c["_id"]] = tmp;
			console.log(c);
			console.log(savestate);
			offset = offset+10;
			console.log("STATE", savestate);

			var imageObj = new Image();
		        imageObj.src = '/static/yoda.png'
		        var im = new Konva.Image({ x: c.x()-30, y: c.y()-20, image: imageObj, width: 20 , height: 20 })
			layer.add(im);
			savestate[c["_id"]]['imagelink'] = '/static/yoda.png';
			savestate[c["_id"]]['imageobj'] = im;
		}

		function b4c() { 
			operation = "edit";
			if (edit_state == 0){
				edit_state = 1;
				//layer.visible(false);
				//layer_edit.visible(true);
				var editNode = document.getElementById('edit-tab');
				var graph = document.getElementById('graphic');
                		editNode.style.display = 'block';
                		graph.style.display = 'none';
				var img = document.getElementById('image-src');
				img.value = savestate[curItem['_id']]['imagelink']
				var tx = document.getElementById('cirtext');
				tx.value = savestate[curItem['_id']]['text']

			} else {
				edit_state = 0;
				//layer.visible(true);
				//layer_edit.visible(false);
				var editNode = document.getElementById('edit-tab');
				var graph = document.getElementById('graphic');
                		editNode.style.display = 'none';
                		graph.style.display = 'block';
				console.log("b4c called");
			}

			writeMessage("Delete"); 
		}

		// get all line objects passing a co-ordinate 
		function getlines(x, y){

			var c = layer.getChildren(function(node){
   			     	return node.getClassName() == 'Line';
			});
			ret = [];
			for (i = 0; i < c.length; i++) {
				if ((c[i].points()[0] ==x) && (c[i].points()[1] == y)) {
					ret.push([c[i],0]);
					console.log("GETLINES - SRC SET", c[i].points());
				}
				if ((c[i].points()[2] ==x) && (c[i].points()[3] == y)) {
					ret.push([c[i],1]);
					console.log("GETLINES - DEST SET", c[i].points());
				}
			}
			console.log("CONNECTIONS OUT of ", ret);
			return ret;

		}

		$SCRIPT_ROOT = {{ request.script_root|tojson }};
		function b5c() { 
			// serialize the adm and json it 
			// callback to flask to store it on server 

			//var dict = {};
			//for (var key in adm){
			//  console.log( key, adm[key] );
			//  v = [];
			//  for (const element of adm[key]) {
  			//	console.log(element);
			//	v.push([element[0]["_id"], element[1]["_id"]]);
			//  }
			//  dict[key] = v;
			//}
			//mystr = JSON.stringify(dict);


			mystr = JSON.stringify(savestate);
			var json = stage.toJSON();
			stage.clear(); 
                	layer.add(button1, button2, button3, button4, button5, button6);
                	layer.add(text_b1, text_b2, text_b3, text_b4, text_b5, text_b6);
			layer.draw();
			console.log(json);
			$.getJSON($SCRIPT_ROOT + '/savegraph', {dt : mystr, st:json} , function(data) { 
				console.log("Call AJAX completed" + data.result); 
			});
      			return false;
						
		}


		function b6c() { 
			// serialize the adm and json it 
			// callback to flask to store it on server 

			//var dict = {};
			//for (var key in adm){
			//  console.log( key, adm[key] );
			//  v = [];
			//  for (const element of adm[key]) {
  			//	console.log(element);
			//	v.push([element[0]["_id"], element[1]["_id"]]);
			//  }
			//  dict[key] = v;
			//}

			//mystr = JSON.stringify(dict);
			//mystr = JSON.stringify(adm);
			stage.clear()
			$.getJSON($SCRIPT_ROOT + '/restoregraph', {dt : "", st:""} , function(data) { 
				console.log("Call AJAX completed" + data.result); 
				stage = Konva.Node.create(data.result, 'graphic');
			        layer = stage.getChildren(function(node){
   			        	return node.getClassName() == 'Layer';
			        })[0];
                	        layer.add(button1, button2, button3, button4, button5, button6);
                	        layer.add(text_b1, text_b2, text_b3, text_b4, text_b5, text_b6);
			        layer.draw();

				// add callback to stage
				stage.on("contextmenu",cmmnu);
				var c = layer.getChildren();
				for (i = 0; i < c.length; i++) {
  					console.log(c[i]);
					c[i].on("click",myh);
					c[i].on('dragstart', dstart);
					c[i].on('dragend', dend);
				}

			        console.log(layer);
			        layer.draw();
							
			});
      			return false;
		}


		function b6c_v2() { 
			stage.clear()
			layer.clear();
			var c = stage.getChildren();
			for (i = 0; i < c.length; i++) {
				c[i].destroy()
			}
			var c = layer.getChildren();

			for (i = 0; i < c.length; i++) {
				c[i].destroy()
			}

			console.log('AFTER CLEAR ----------------  children --> ' , c);
			savestate = {}
			$.getJSON($SCRIPT_ROOT + '/restoregraph', {dt : "", st:""} , function(data) { 
				var result = JSON.parse(data.result);
				console.log("***********************old state", result)
				var mp = {};
				var c;
				layer = new Konva.Layer();
				stage.add(layer);
				for (var key in result){
					console.log("Child --> Call AJAX restore v2  completed" , key); 
					var ob = result[key];
					//console.log("Child --> Call AJAX restore v2  completed" , ob['x']); 
					//console.log("Child --> Call AJAX restore v2  completed" , ob['y']); 
					//console.log("Child --> Call AJAX restore v2  completed" , ob['text']); 
					console.log("****************************** Child --> Call AJAX restore v2  completed" , ob['nbr']); 
                			c = new Konva.Circle({ x: ob['x'], y:ob['y'], radius: 30, 
						fill: BLOBC, stroke: 'black', draggable:'true', strokeWidth: 4 });
					console.log("****************************** 2   Child --> Call AJAX restore v2  completed" , ob['nbr']); 
					layer.add(c);
					console.log("****************************** 3   Child --> Call AJAX restore v2  completed" , ob['nbr']); 
					savestate[c['_id']] = {'x':ob['x'] , 'y':ob['y'], 'text':ob['text'], 'nbr':ob['nbr']};
					console.log("*********************** 4   new state for this circle", savestate[c['_id']]['nbr'])

					console.log("ADDING CIRCLE TO LAYER", c['_id']);
					c.on("click",myh);
					c.on('dragstart', dstart);
					c.on('dragend', dend);
					mp[key] = c['_id']; // remap object id to new 
					console.log("MAPPING OLD-->NEW", key, c['_id']);

		  			var sT = new Konva.Text({ x: c.x()-20, y: c.y(), text: ob['text'], fontSize: 11, fontFamily: 'Calibri', fill: 'black', });
		  			savestate[c['_id']]['tblob'] = sT;
					layer.add(sT);



			                var imageObj = new Image();
		                        imageObj.src = ob['imagelink'];
		                        var im = new Konva.Image({ x: c.x()-30, y: c.y()-20, image: imageObj, width: 20 , height: 20 })
			                layer.add(im);
			                savestate[c["_id"]]['imagelink'] = ob['imagelink'];
			                savestate[c["_id"]]['imageobj'] = im;

				}
				console.log("***********************new state", savestate)
				// REMAP links here
				console.log("REMAPPING links on state ",  savestate)

				for (var key in savestate){
					var ob = savestate[key];
					var t = ob['nbr']
					console.log("1 %%%%%%%%%%%%%%%%%%%%%%%%%%% remapping for ", key, t);
					var jj = []
					console.log("REMAPPING object ",  ob)
					for (var i = 0; i < t.length; i++) {
						console.log("2 %%%%%%%%%%%%%%%%%%%%%%%%%%% remapping 2 for ", key, t[i]);
						var rmp = mp[t[i]];
						console.log("3 %%%%%%%%%%%%%%%%%%%%%%%%%%% remapping 3 for ", key, rmp);
						jj.push(rmp);
						makeline(key, rmp);
						console.log("REMAPPING line ",  key, rmp)
					}
					ob['nbr'] = jj;
					savestate[key] = ob;
				}

			});
		}


		function makeline(s,d){
			var c = layer.getChildren();
			console.log('ALL  children --> ' , c);
			for (i = 0; i < c.length; i++) {
			    console.log('LAYER HAS  children --> ' , c[i]['_id']);
			}
			var src = null;
			var dst = null;
			console.log("Connect a line -------------------------------->>",s,d)
			for (i = 0; i < c.length; i++) {
				console.log('Find SRC of ', s, ' while checking' , c[i]['_id']);
				if (c[i]['_id'] == s) src = c[i];
				if (c[i]['_id'] == d) dst = c[i];
				
			}
			var rl = new Konva.Line({ points: [src.x(), src.y(), dst.x(), dst.y()], 
			      stroke: 'black', strokeWidth: 3, lineCap: 'round', lineJoin: 'round', });
			rl.on("click",myh);
			layer.add(rl);
			rl.moveToBottom();

		}


		var circle2 = circle.clone();
		circle2.x(circle.x() + 300);


		function writeMessage(message) {
        		text.text(message);
      		}
		
		


		var dfrm;
		var state = 0;
		var lin=null ;
                
		circle.on("click", myh);
		circle2.on("click", myh);

		function myl(){
			if (operation == "delete") {
				console.log("Delete object id",this['_id']);
			        deletestate(this['_id'], this);
			}
		}



		function deletestate(x, ob) {
			console.log('Delete called on',x);
			for (var key in savestate){     
			console.log("Delete checking keys", key , 'against', x);
				if (key == x) {
					delete savestate[key];
					console.log("Deleted the state");
				} else {
					var c = savestate[key]['nbr'];
					var s = []
					for (i = 0; i < c.length; i++) {     
						if (c[i] == x) {
						} else {
							s.push(c[i]);
						}
					} 
					savestate[key]['nbr'] = s;
				}
			}
			ob.destroy();
		}



		function myh(){
			if (operation == "delete") {
				console.log("Delete object",this);
			        deletestate(this['_id'], this);
				this.destroy();
			} 
			if (operation == "connect"){
			    if (state == 0){
			    	dfrm = this;
			    	state = 1;
			    } else {
				     operation = ""
				     var tid = dfrm["_id"]
				     var mid = this["_id"]
				     var oo = savestate[dfrm["_id"]]['nbr'] ;
				     var seen = 0;

				    // check if this line exists
				    for (const x of oo) {
					  console.log("Checking line ends against ", x, this['_id']);
				          if (x==this["_id"] ) {
				        	  seen = 1;
					       	  console.log("FOUND .... Checking line ends against ", x, this['_id']);
				          } 

				     };


			             if (seen == 0) {
			                       var redLine = new Konva.Line({ points: [dfrm.x(), dfrm.y(), this.x(), this.y()], 
						       stroke: 'black', strokeWidth: 3, lineCap: 'round', lineJoin: 'round', });
			    	               var lin = redLine;
				               lin.on("click",myl);
					       savestate[dfrm['_id']]['nbr'].push(this['_id']);
					       console.log("NOT FOUND .... ADDING  line ends against ", this['_id']);
				     }


				     
			    	state = 0;
			    	dfrm = null;
                	    	layer.add(redLine);
				redLine.moveToBottom();
			    }
			    console.log(this, this.x(), this.y());
			}
		}


		var linesall = [];
		function dstart() {
                  writeMessage('dragstart');
		  dfrm = this;
		  console.log(this["_id"]);
		  linesall = getlines(this.x(), this.y());
                  writeMessage(linesall);
                };


		function dend() {
		  console.log("end drag", this);
		  console.log("BEFORE DRAG", savestate);
		  //lin.points([this.x(), this.y(), circle2.x(),circle2.y()]);
		  layer.draw()
                  writeMessage('connect', this.x(), this.y(), circle2.x(),circle2.y() );
                  console.log('connect', this.x(), this.y(), circle2.x(),circle2.y() );
                  console.log('connectid', this["_id"] );

		  console.log("LINK ARE UPDATING", linesall);

	
		  var imageObj = new Image();
		  imageObj.src = savestate[this['_id']]['imagelink'];
		  console.log("1 ##################", this['_id'], savestate[this['_id']]['imagelink'] );
		  savestate[this['_id']]['imageobj'].destroy();
		  var im = new Konva.Image({ x: this.x()-30, y: this.y()-20, image: imageObj, width: 20 , height: 20 })
		  layer.add(im);
		  savestate[this['_id']]['imageobj'] = im;

		  if (linesall == undefined)  {
			console.log("linesall not available");
		  } else {
		      for (const x of linesall) {
		            console.log("UPDATE all",x);
			    var o = x[0];
			    var d = x[1];
			    if (d ==0) {
				console.log("SRC SET", this.x(), this.y(), o.points()[2], o.points()[3]);
				//o.points(this.x(), this.y(), o.points()[2], o.points()[3]);
			        var redLine = new Konva.Line({ points: [this.x(), this.y(), o.points()[2], o.points()[3]], 
				       stroke: 'black', strokeWidth: 3, lineCap: 'round', lineJoin: 'round', });
				o.destroy()
				layer.add(redLine);
			        redLine.on("click",myl);
				redLine.moveToBottom();






			    } else {
				console.log("DESTINATION SET", o.points()[0], o.points()[1], this.x(), this.y());
				//o.points(o.points()[0], o.points()[1], this.x(), this.y());
			        var redLine = new Konva.Line({ points: [o.points()[0], o.points()[1],this.x(), this.y()], 
				       stroke: 'black', strokeWidth: 3, lineCap: 'round', lineJoin: 'round', });
				o.destroy()
				layer.add(redLine);
			        redLine.on("click",myl);
				redLine.moveToBottom();

			    }
			    layer.draw();
		   }
		  }


		  if (savestate[this['_id']]['tblob'] != undefined) {
		      var tt = savestate[this['_id']]['text']
		      savestate[this['_id']]['tblob'].destroy() 
		      var sT = new Konva.Text({ x: this.x()-20, y: this.y(), text: tt, fontSize: 11, fontFamily: 'Calibri', fill: 'black', });
		      savestate[this['_id']]['tblob'] = sT;
		      layer.add(sT);
		  }


                  stage.draw();
                  stageb.draw();
		  savestate[this['_id']]['x'] = this.x();
		  savestate[this['_id']]['y'] = this.y();
		  console.log("AFTER DRAG", savestate);
                };


                // add the shape to the layer
                layerb.add(text);
                //layer.add(circle);
                //layer.add(circle2);
                layer.add(button1, button2, button3, button4, button5, button6);
                layer.add(text_b1, text_b2, text_b3, text_b4, text_b5, text_b6);
                
                // add the layer to the stage
                stage.add(layer);
                stageb.add(layerb);
                
                // draw the image
                layer.draw();
                layerb.draw();

		var menuNode = document.getElementById('menu');
		window.addEventListener('click', () => { menuNode.style.display = 'none'; });

		stage.on('contextmenu', cmmnu); 
		var currentShape;
		function cmmnu(e) {
                  e.evt.preventDefault();
                  if (e.target === stage) {
                    // if we are on empty place of the stage we will do nothing
                    //return;
                  }
                  currentShape = e.target;
                  menuNode.style.display = 'initial';
                  var containerRect = stage.container().getBoundingClientRect();
                  menuNode.style.top = containerRect.top + stage.getPointerPosition().y + 4 + 'px';
                  menuNode.style.left = containerRect.left + stage.getPointerPosition().x + 4 + 'px';
                };







    </script>

</body>
</html>
