<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Konva Demo </title>
    <script src="https://unpkg.com/konva@8/konva.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


</head>
<body>


    <!--  HTML section  -->
    <h3>Flask/KONVA Demo 1 </h3>
    <div class="svg" id="graphic"> </div>
    <div id="menu"> 
            <div> 
                <button class='ctx' id="Insert-button">Insert</button >
                <button class='ctx' id="delete-button">Delete</button> 
             </div> 
     </div>
     <div id="buttons">
     <input class="inner" type="button" id="save" value="Save" />
     <input class="inner" type="button" id="restore" value="Restore" />
    </div>

    <!--  SCRIPT section  -->
    <script>

        var drag_src=null;   
        var stage;
        var layer;
        var savestate = {};
        var offset = 0;
        var curItem = null;
        var operation = "null";
        var edit_state = 0;
        var BLOBC = "#baace6";
        var K_RADIUS=45;
        var currentShape;

  
	function connect(srcg,dstg) {
		console.log("FROM CONNECT SUB" + srcg + dstg);
	 	drag_src = srcg;
	 	drag_src.findOne(".base-circle").strokeWidth(0);
	 	savestate[drag_src['_id']][dstg['_id']] = 1; // update state stable
                src = drag_src.findOne(".base-circle");
                dst = dstg.findOne(".base-circle");
                console.log("DRAG ENDING" + dstg["_id"]);
                sx = src.x() + drag_src.x(); sy = src.y() + drag_src.y();
                dx = dst.x() + dstg.x(); dy = dst.y() + dstg.y();
                
                cid = 'connid--' + drag_src['_id']  + '--' + dstg['_id']
                var rl = new Konva.Arrow({ points: [sx+K_RADIUS, sy, dx-K_RADIUS, dy], stroke: 'black', 
                        strokeWidth: 1, 
                        name : 'connector',
                        id:cid,
                        lineCap: 'round', lineJoin: 'round', });
                console.log("LINE FROM:" + sx +".."+sy+"--->    TO:"+dx+".."+dy + "   ID:"+cid);
                layer.add(rl);
                layer.draw();
                drag_src = null;
			}         
         



         function conn_end(dstg) {
                console.log("DRAG ENDING" + drag_src);
                drag_src.findOne(".base-circle").strokeWidth(0);
                connect(drag_src,dstg)
                                                  
         };


        function conn_start() {
                if (drag_src != null) {
                     if (drag_src['_id'] == this['_id']){
                            return;
                     } else {
                            conn_end(this);
                     }
                } else {
                      console.log("CONNECT STARTED" + this["_id"]);
                      drag_src = this;
                      //drag_src.draggable(false);
                      drag_src.findOne(".base-circle").strokeWidth(1);
                      layer.draw();
                 }
         };










        //https://konvajs.org/docs/
        document.getElementById('Insert-button').addEventListener('click', make_grp); 
        
        function make_grp() {
       	 	console.log("ADDING OBJECT TO --> LAYER IS ", layer)
       	 	try{  
       		    	xpos =  stage.getPointerPosition().x ;
                   	ypos =  stage.getPointerPosition().y ;
                   } catch(e) {
                   		xpos = 0; ypos = 0;
                   }
                
              	var group1 = new Konva.Group({
                         x: xpos,
                         y: ypos,
                         rotation: 0,
                         name:'GRP',
                         draggable:'true'
                });
                savestate[group1['_id']] = {};
                savestate['ATTR'+group1['_id']] = {}
                savestate['ATTR'+group1['_id']]['x']= xpos;
                savestate['ATTR'+group1['_id']]['y']= ypos;
                
                
                console.log("SAVESTATE ", savestate) ; 
                group1.name("GRP__"+group1['_id']);
                group1.id("GRP__"+group1['_id']);
                console.log("Insert clicked at ", currentShape, " POS", xpos, ".", 
			ypos, " Group id is ",group1.name(), "--", group1.id()) ; 



      
                var circle = new Konva.Circle({ x: 0, y: 0, radius: K_RADIUS, 
			fill: BLOBC, stroke: 'black',  strokeWidth: 0, name:"base-circle" });
                       
                var star0 = new Konva.Star({
                        x: K_RADIUS, y: 0,
                        numPoints: 6, 
                        innerRadius: 2, outerRadius: 5,
                        fill: 'yellow',
                        stroke: 'black',
                        strokeWidth: 0,
                 });
                               
                 var star1 = new Konva.Star({
                        x: -1*K_RADIUS, y: 0,
                        numPoints: 6, 
                        innerRadius: 2, outerRadius: 5,
                        fill: 'yellow',
                        stroke: 'black',
                        strokeWidth: 0,
                });
                       
                group1.add(circle);
                group1.add(star0);
                group1.add(star1);
                layer.add(group1);

                var pp = layer.findOne('#GRP__'+group1['_id']); // find by ID 
                console.log("Searched and found it also in layers", pp) ; 
                group1.on("mouseover", function () {
                        //this.strokeWidth(4)
                        star0.show();
                        star1.show();
                        circle.strokeWidth(1)
                                
                });
                
                group1.on("mouseout", function () {
                        circle.strokeWidth(0);
                        star0.hide();
                        star1.hide();
                });

                group1.on('mousedown', conn_start);
                //group1.on('dblclick dbltap', dend);
                group1.on('dragend', dend);
                group1.on('dragmove', dend);
                //group1.on('dragstart', dend);
                       
                layer.draw();
                return group1;
        	
        }




        function drawLinesSolution1(layer){      
          const stepSize = 10; // set a value for the grid step gap.
         
          const xSize= stage.width(), 
                ySize= stage.height(),
                xSteps = Math.round(xSize/ stepSize), 
                ySteps = Math.round(ySize / stepSize);
         
          // draw vertical lines
          for (let i = 0; i <= xSteps; i++) {
            layer.add(
              new Konva.Line({
                x: i * stepSize,
                points: [0, 0, 0, ySize],
                stroke: 'rgba(0, 0, 0, 0.2)',
                strokeWidth: 1,
                draggable:'false'
              })
            );
          }

          //draw Horizontal lines
          for (let i = 0; i <= ySteps; i++) {
            layer.add(
              new Konva.Line({
                y: i * stepSize,
                points: [0, 0, xSize, 0],
                stroke: 'rgba(0, 0, 0, 0.2)',
                strokeWidth: 1,
                draggable:'false'
              })
            );
          }
           
          layer.batchDraw();
           
        }



	// clear menu once we are done
        var menuNode = document.getElementById('menu');
        window.addEventListener('click', () => { 
             menuNode.style.display = 'none'; 
          }
        );

        
        
        function ctxtmenu(e) {
            console.log("CONTEXT RIGHT CLICK");
            e.evt.preventDefault();
            currentShape = e.target; // if there is one 

            if (e.target === stage) {
                //return;
                console.log("CONTEXT TARGET STAGE");
            }
            var containerRect = stage.container().getBoundingClientRect();
            menuNode.style.width = '150px';
            menuNode.style.top = containerRect.top + stage.getPointerPosition().y + 4 + 'px';
            menuNode.style.left = containerRect.left + stage.getPointerPosition().x + 4 + 'px';
                 console.log("CONTEXT POINTER" , menuNode.style.top, menuNode.style.left);
            menuNode.style.display = 'block';

        };




  	function stage_layer_grid() {

          stage = new Konva.Stage({
            container: 'graphic',   // id of container <div>
            width: 1500,
            height: 1500,
            visible:true,
            draggable:false
          });

          stage.container().style.backgroundColor = 'rgb(211,211,211)';

        
          // then create layer
          layer = new Konva.Layer();
          drawLinesSolution1(layer);      
        
        
          stage.add(layer);
          stage.on('contextmenu', ctxtmenu); 

	}


	stage_layer_grid();





    </script>

</body>
</html>
